# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next
/out

# Testing
/coverage

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Drizzle
/drizzle
 
# Local data (SQLite)
/data
.vercel/
.vercel.json
